@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');


body {
    background-image: url(../imgs/bg.png);
}

.uk-navbar-nav > li > a {
    color: #fff;
}

.uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav > li > a {
    color: #403e56;
}

.uk-button-success {
    background-color: #EAEAEA;
    color: #403e56;
}

h1,h2,h3,
h4,h5,h6 {
   color: #fff !important;
}

.uk-card:not(.team) {
   background: #21e6c13d !important;
   border-width: 1px;
   color: #fff;
   box-shadow: 5px 5px 15px #21e6c13d;

}

.uk-article * {
    color: #eaeaea !important;
}

.uk-icon-link {
    color: #ffff !important;
}

.uk-link {
    color: #fff !important;
}

.uk-icon-link:hover {
    color: #05c896 !important;
}

/*.uk-card * {*/
/*    color: #fff;*/
/*}*/

/*.uk-text-lead {*/
/*    color: #ccc8c8 !important;*/
/*}*/

/*.uk-input, .uk-select, .uk-textarea {*/
/*    background: transparent;*/
/*}*/

/*.uk-input:focus, .uk-select:focus, .uk-textarea:focus {*/
/*    background: transparent;*/
/*    border-color: #05c896;*/
/*}*/

/*.uk-form-label {*/
/*    color: #fff ;*/
/*}*/

* {
    font-family: "Alexandria", sans-serif !important;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px #403e56 inset;
}
::-webkit-scrollbar-thumb {
    background-color: #05c896;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #403e56;
}
